# Byte-compiled / cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
*.env

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/

# R files:
.RData
.Rhistory